.nav-bar {
    display: flex;
    width: fit-content;
    gap: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

a {
    border-radius: 0.25rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    background-color: aqua;
}